
.App {
  text-align: center;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input{
  width: 200px;
  height: 35px;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#title{
  font-family: 'Bigelow Rules', cursive;
  font-size: 72px;
  color: #0ccac4
}